
  p {
    color: #969191; 
  }
  
  ul {
    list-style: none; 
    padding: 0;
  }
  
  li {
    color: #162427; 
  }
  
  
  li button {
    float: right; 
    background-color: transparent; 
    border: none; 
    cursor: pointer;
    margin-left: 10px; 
  }
  
  li button img {
    width: 30px; 
  }
  
  button {
    display: block; 
    margin-top: 20px; 
    background-color: #001EB9; 
    color: #fff; 
    padding: 10px 15px; 
    border: none; 
    cursor: pointer;
  }